/* //https://websygen.github.io/owfont/#usage */

body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: mintcream;
}

.App {
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
 
}
.left-time {
  color: crimson;
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 4rem;
}
.love{
  margin-top: 35px;
  width:45%;
  height: 45%;
  
}
.img-fluid {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.heart {
  animation: heartbeat 1.5s infinite;
}
body > div:second-child {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

figure {
  margin: 0;
}

.container {
  width: 350px;
  height: 300px;
  text-align: left;
  margin: 60px auto;
  perspective: 1400px;
  perspective-origin: 50% -25%;
}

  .carousel {
    transform-style: preserve-3d;
    transform: translateZ(-540px);
    position: relative;
    margin: 0;
    width: 360px;
    height: 400px;
    transition: 1s;
  }

    .carousel img {
      position: absolute;
      border: 12px solid cadetblue;
      opacity: .5;
      transition: 1s;
      -webkit-transition: 1s;
      height: 100%; 
      width: 100%;
      object-fit: contain;
      background:#ccc;
      margin-bottom: 4rem;
    }

      
      .carousel img:nth-child(1) { transform: translateZ(540px) scale(.8); }
      .carousel img:nth-child(2) { transform: rotateY(40deg) translateZ(540px) scale(.8); }
      .carousel img:nth-child(3) { transform: rotateY(80deg) translateZ(540px) scale(.8); }
      .carousel img:nth-child(4) { transform: rotateY(120deg) translateZ(540px) scale(.8); }
      .carousel img:nth-child(5) { transform: rotateY(160deg) translateZ(540px) scale(.8); }
      .carousel img:nth-child(6) { transform: rotateY(200deg) translateZ(540px) scale(.8); }
      .carousel img:nth-child(7) { transform: rotateY(240deg) translateZ(540px) scale(.8); }
      .carousel img:nth-child(8) { transform: rotateY(280deg) translateZ(540px) scale(.8); }
      .carousel img:nth-child(9) { transform: rotateY(320deg) translateZ(540px) scale(.8); }
label {
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background: #eee;
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  padding-top: 7px;
  height: 29px;
  font: .9em Arial;
}

label:hover {
  background: #ddd;
}

input {
  position: absolute;
  left: -9999px;
}

input:checked + label {
  font-weight: bold;
  background: #ddd;
}

  input[value="1"]:checked ~ .container .carousel { transform: translateZ(-540px); }
  input[value="2"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-40deg); }
  input[value="3"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-80deg); }
  input[value="4"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-120deg); }
  input[value="5"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-160deg); }
  input[value="6"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-200deg); }
  input[value="7"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-240deg); }
  input[value="8"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-280deg); }
  input[value="9"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-320deg); }

  input[value="1"]:checked ~ .container .carousel img:nth-child(1) { transform: translateZ(540px) scale(1); opacity: 1; }
  input[value="2"]:checked ~ .container .carousel img:nth-child(2) { transform: rotateY(40deg) translateZ(540px) scale(1); opacity: 1; }
  input[value="3"]:checked ~ .container .carousel img:nth-child(3) { transform: rotateY(80deg) translateZ(540px) scale(1); opacity: 1; }
  input[value="4"]:checked ~ .container .carousel img:nth-child(4) { transform: rotateY(120deg) translateZ(540px) scale(1); opacity: 1; }
  input[value="5"]:checked ~ .container .carousel img:nth-child(5) { transform: rotateY(160deg) translateZ(540px) scale(1); opacity: 1; }
  input[value="6"]:checked ~ .container .carousel img:nth-child(6) { transform: rotateY(200deg) translateZ(540px) scale(1); opacity: 1; }
  input[value="7"]:checked ~ .container .carousel img:nth-child(7) { transform: rotateY(240deg) translateZ(540px) scale(1); opacity: 1; }
  input[value="8"]:checked ~ .container .carousel img:nth-child(8) { transform: rotateY(280deg) translateZ(540px) scale(1); opacity: 1; }
  input[value="9"]:checked ~ .container .carousel img:nth-child(9) { transform: rotateY(320deg) translateZ(540px) scale(1); opacity: 1; }
  

  @media screen and (max-width: 860px) {
    .container {
      perspective: 600px;
    }
  }
  @media screen and (max-width: 680px) {
    .container {
      perspective: 320px;
    }
  }
  @media screen and (max-width: 550px) {
    .container {
      perspective: 150px;
    }
  }
